// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-rounded: true;

// Official brand colors
$rd-white: #fff !default; // Rīgas baltais
$rd-blue: #254cd4 !default; // Rudzupuķu zilais
$rd-blue-dark: #000b40 !default; // Jāņu nakts zilais
$rd-blue-light: #aad0ff !default; // Debesu zilais
$rd-green: #78e9b8 !default; // Kapara zaļais
$rd-green-dark: #0d382c !default; // Priežu zaļais
$rd-green-light: #e2ff86 !default; // Gurķīšu iekšiņas zaļais
$rd-green-alt: #77893a !default; // Ozolzaļš
$rd-gray-light: #b8b6a4 !default; // Smilšu pelēkais
$rd-gray-dark: #565947 !default; // Novembra pelēkais
$rd-red-light: #ff4b33 !default; // Dakstiņu sarkanais
$rd-red-dark: #43010b !default; // Brūkleņu sarkanais
$rd-violet: #beafec !default; // Ceriņu lillā
$rd-black: #000 !default; // Rīgas mellais

// Customize some defaults
$body-bg: #fff;
$body-color: $rd-blue-dark;

$primary: $rd-blue !default;
$secondary: $rd-gray-light !default;
$success: $rd-green !default;
$info: $rd-violet !default;
$warning: #ffc107 !default; // TODO: find a better color
$danger: $rd-red-light !default;
$light: $rd-blue-light !default;
$dark: $rd-blue-dark !default;

$yiq-text-dark: $rd-black;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$font-family-sans-serif: "Poppins" !default;

@import "bootstrap/scss/bootstrap";
