// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
$enable-rounded: true;

// Official brand colors
$rd-white: #ffffff !default; // Rīgas baltais
$rd-blue: #254cd4 !default; // Rudzupuķu zilais
$rd-blue-dark: #000b40 !default; // Jāņu nakts zilais
$rd-blue-light: #aad0ff !default; // Debesu zilais
$rd-green: #78e9b8 !default; // Kapara zaļais
$rd-green-dark: #0d382c !default; // Priežu zaļais
$rd-green-light: #e2ff86 !default; // Gurķīšu iekšiņas zaļais
$rd-green-alt: #77893a !default; // Ozolzaļš
$rd-gray-light: #b8b6a4 !default; // Smilšu pelēkais
$rd-gray-dark: #565947 !default; // Novembra pelēkais
$rd-red-light: #ff4b33 !default; // Dakstiņu sarkanais
$rd-red-dark: #43010b !default; // Brūkleņu sarkanais
$rd-violet: #beafec !default; // Ceriņu lillā
$rd-black: #000000 !default; // Rīgas mellais

// Customize some defaults
$body-bg: #fff;
$body-color: $rd-blue-dark;

$primary: $rd-blue !default;
$secondary: $rd-gray-light !default;
$success: $rd-green !default;
$info: $rd-violet !default;
$warning: #ffc107 !default; // TODO: find a better color
$danger: $rd-red-light !default;
$light: $rd-blue-light !default;
$dark: $rd-blue-dark !default;

$yiq-text-dark: $rd-black;

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-extrabold.woff") format("woff");
}

@font-face {
  font-family: "CoreSans";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy-Medium.svg#CoreSans") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "CoreSans";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.svg#CoreSans") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype"),
    url("../fonts/Gilroy-SemiBold.svg#Gilroy") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "liveriga";
  src: url("../fonts/liveriga.eot");
  src: url("../fonts/liveriga.eot#iefix") format("embedded-opentype"),
    url("../fonts/liveriga.ttf") format("truetype"),
    url("../fonts/liveriga.woff") format("woff"),
    url("../fonts/liveriga.svg#liveriga") format("svg");
  font-weight: normal;
  font-style: normal;
}

$headings-font-family: "Gilroy" !default;
$headings-font-weight: 700;

@import "bootstrap/scss/bootstrap";
